.App {
  text-align: center;
}

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1b53;
  padding: 50px 50px;
}

.header {
  font-size: 36px;
  color: rgb(219, 219, 219);
}

.number {
  margin-top: 16px;;
}

.b-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 24px;
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  margin-top: 25px;;
  opacity: 50%;
}
